body {
  font-family: 'PSTimes', serif;
  font-size: 28px;
  color: #1a1a1a;
  background-color: #ffffff;
  margin:0;
  padding: 0;
}

nav a {
  color: #1a1a1a;
  display: block;
  padding: 1em 1em 1em 1em;
  text-decoration: none;
}

a {
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent; /* For some Androids */
}

h1 {
  font-size: 28px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 10px;
  position: relative;
  top: -69px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.main {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 598px;
}

.text p {
  text-align: left;
  margin-top: 10px;
}

p.number {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.overlay {
  position: absolute;
  top: 50vh;
  left: 5px;
  width: 99.5%;
}

.overlay {
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
}

.main:hover .overlay {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
}

.footer {
  text-align: right;
  position:fixed;
  bottom:2.5vh;
  right:25px;
}

.footer a {
  color: #1a1a1a;
  text-decoration: none;
}


/**Iphone**/
@media (max-width: 465.5px) {

  body {
    font-family: 'PSTimes', serif;
    font-size: 22px;
  }

  nav {
    margin: 0px;
  }

  .logo {
    font-size: 95px;
    padding-left: 2px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 15px;
    text-align: center;
  }

  h1 {
    position: relative;
    top: -2px;
    text-align: center;
}

  .subs {
    display: none;
}

  .overlay {
    display: none;
  }

  .container {
    display: inline;
    margin: 0;
  }

  .main {
    width: 88%;
  }

  p.end {
    margin-bottom: 100px;
  }

  .footer {
    text-align: center;
    position:fixed;
    bottom: 0;
    left: 0;
    background: #ffffff;
    width: 100vw;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid black;
  }
}
